/* Styles for the login and signup pages
*/
body {
  background-image: linear-gradient(
      217deg,
      rgba(0, 0, 0, 0.555),
      rgba(0, 0, 0, 0.555) 70.71%
    ),
    url("https://t3.ftcdn.net/jpg/02/96/19/96/240_F_296199640_u386oRVazzYoeSp3XNhDdQpMpol2nsNX.jpg");
  background-size: cover;
  background-attachment: scroll;
  min-height: 100%;
}

.login,
.signup {
  height: 280px;
}
